<!DOCTYPE html>
<html>
    <head>
        <title>Survey_form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/Test.css' %}">
 
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet"> -->
    </head>
    <body>
        <div class="heading">
         <h1 id="head">Take Test</h1>
         <h2 id="subheading">Please take the test so that we can recommend suitable courses for you</h2>
         </div>
         <form>
            <div id="content1">


                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>

                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>


                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>

                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>


                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>


                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>


                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>


                    <br>
                    <label id="head1" class="larger-question">question1</label><br><br>
                    <input type="radio" name="radio" id="definitely" class="larger-option">
                    <span class="option-label">Definitely</span><br>
                    <input type="radio" name="radio" id="maybe" class="larger-option">
                    <span class="option-label">Maybe</span><br>
                    <input type="radio" name="radio" id="notsure" class="larger-option">
                    <span class="option-label">Not sure</span>
                    <br><br>



                </div>           
         </form>    
    </body>
</html>